default:
    formatters:
        pretty: true
        html:
            output_path: web/ci/build/behat/
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            browser_name: firefox
            show_auto:    false
            base_url: http://127.0.0.1:8000/app_test.php/
            show_cmd: open -a 'Google Chrome' %s
            selenium2:
                wd_host: "http://127.0.0.1:8643/wd/hub"
        emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
            name: html
            renderer: Twig
            file_name: index
            print_args: true
            print_outp: true
            loop_break: true
    suites:
        app_core_suite:
            type: symfony_bundle
            bundle: 'AppCoreBundle'
            contexts:
                - App\CoreBundle\Features\Context\RestApiContext:
                    settings:
                      base_url: http://127.0.0.1:8000/app_test.php/
                      debug: false
                - App\UserBundle\Features\Context\UserContext
        app_user_suite:
            type: symfony_bundle
            bundle: 'AppUserBundle'
            contexts:
                - App\CoreBundle\Features\Context\RestApiContext:
                    settings:
                      base_url: http://127.0.0.1:8000/app_test.php/
                      debug: true
                - App\UserBundle\Features\Context\UserContext
        app_tracker_suite:
            type: symfony_bundle
            bundle: 'AppTrackerBundle'
            contexts:
                - App\CoreBundle\Features\Context\RestApiContext:
                    settings:
                      base_url: http://127.0.0.1:8000/app_test.php/
                      debug: true
                - App\UserBundle\Features\Context\UserContext
                - App\TrackerBundle\Features\Context\ClientContext
                - App\TrackerBundle\Features\Context\ActivityContext
