$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "_login.scss";
@import "_activity_add.scss";
@import "_activity_list.scss";

body {
  padding-top: 50px;
  color: #767676;
}

.main-container {
  padding: 40px 15px;

  a .recipe-body {
      text-decoration: none;
      color: black;
  }

}